

*{margin: 0;padding: 0;box-sizing: border-box;}


body{
  width: 100vw;
  overflow-x: hidden;
}

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* font-weight: normal; */
  width: 100%;
}


.container{

}




.input {
  padding: 12px;
  width: 90%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: 500;
  max-width: 400px;
}


button {
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  max-width: 200px;
}



